.about-page {
  background-color: #f0f1f6;
  font-size: 0;
  padding-bottom: 50px;
}
.nav-bar-bg {
  height: 144px;
  background: -webkit-linear-gradient(left, #dd5789, #658def);
  /* Safari 5.1 - 6.0 */
  /* Opera 11.1 - 12.0 */
  /* Firefox 3.6 - 15 */
  background: -webkit-gradient(linear, left top, right top, from(#dd5789), to(#658def));
  background: linear-gradient(to right, #dd5789, #658def);
  /* 标准的语法 */
}
.view-1200 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 50px auto 0 auto;
  background-color: #fff;
}
.h-txt {
  text-align: center;
  padding: 70px 0 100px 0;
  font-size: 24px;
  color: #000;
  line-height: 1;
  font-weight: bold;
}
.zp-list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 50px 50px;
}
.zp-tabs {
  height: 60px;
  margin-bottom: 30px;
}
.zp-tab {
  width: 120px;
  line-height: 60px;
  text-align: center;
  font-size: 12px;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ccc;
  margin-left: -1px;
  cursor: pointer;
}
.zp-tab:first-child {
  margin-left: 0;
  width: 121px;
}
.zp-tab.active {
  color: #fff;
  border: 1px solid #007cff;
  background-color: #007cff;
}
.table {
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 10px 15px;
}
.table::after {
  content: '';
  display: block;
  clear: both;
}
.table .rows {
  min-height: 44px;
  border-bottom: 1px solid #ccc;
  line-height: 44px;
  cursor: pointer;
}
.table .rows:last-child {
  border-bottom: none;
}
.col-1 {
  float: left;
  width: 10%;
}
.col-5 {
  float: left;
  width: 50%;
}
.table-head {
  font-weight: 600;
  font-size: 18px;
}
.c80 {
  color: #8a8a8a;
}
.bg-jt {
  position: relative;
  height: 44px;
}
.jt-img {
  position: absolute;
  width: 10px;
  height: 6px;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.table-hidder {
  display: none;
}
.open .jt-img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.open .table-hidder {
  display: block;
  float: left;
  width: 100%;
  background-color: #f0f1f6;
  color: #007cff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}
